shaderpacks/
texturepacks/
server-resource-packs/
screenshots/
saves/
resourcepacks/
patchouli_books/
.minecraft/mods/*.jar
logs/
local/
journeymap/
downloads/
crash-reports/
coremods/
.mixin.out/
.cache/
command_history.txt
*.log
realms_persistence.json
TrashSlotSaveState.json
usercache.json
usernamecache.json
patchouli_data.json
emi.json
modlist.txt
.vscode/
data/
instance.cfg
.probe/
modern_industrialization/
# these two refuse to actually be ignored for some reason?
.minecraft/config/iris.properties
.minecraft/config/fabric/indigo-renderer.properties
# currently unsure of if i want to ship an options.txt with the modpack
# there is probably a better way of shipping defaults
options.txt
.minecraft/config/accessories.json5
Distant_Horizons_server_data/
servers.dat
servers.dat_old
*.zip